body {
  font-family: 'Roboto', sans-serif;
  padding: 0 10%;
}

h1 {
  color: #333;
}

.message-box {
  border: 1px solid #ddd;
  padding: 0.1em;
  margin-bottom: 0.1em;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.message-box > summary {
  font-weight: bold;
}

.message-box p {
  white-space: pre-wrap;
  margin: 0.0em 0;
}

.message-part {
  border: 1px solid #ccc;
  padding: 0.1em;
  margin: 0.0em 0;
  border-radius: 3px;
  background-color: #fff;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

textarea {
  height: auto;
}
