<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<a href="/">Retour</a>
  <h1>Bot {{agent.name}}</h1>
  <div class="message-box">
    <a href="chatlogs">Conversations</a>
  </div>

  <div class="message-box">
    <a href="playground">Tables de l'agent</a>
  </div>

  <div class="message-box">
    <a href="conversation_context">Context courant</a>
  </div>

  <div class="message-box">
    <a href="prompts_edit">Éditer les prompts</a>
  </div>
</body>
</html>
