<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<a href="/">Retour</a>
  <h1>Bot {{name}}</h1>
  <div class="message-box">
    <a href="/agent/{{name}}/logs">Conversations</a>
  </div>

  <div class="message-box">
    <a href="/agent/{{name}}/playground">Tables de l'agent</a>
  </div>

  <div class="message-box">
    <a href="/agent/{{name}}/conversation_context">Context courant</a>
  </div>
</body>
</html>
