<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bot {{name}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Bot {{name}}</h1>
  <h2>Joined Rooms</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Room ID</th>
      </tr>
    </thead>
    <tbody>
      {% for room_id, room in joined_rooms.items() %}
        <tr>
          <td><a href="/agent/{{room_id}}">{{ room.name }}</a></td>
          <td><a href="/agent/{{room_id}}">{{ room_id }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Paramètres</h2>
  <div class="message-box">
    <a href="prompts_edit">Éditer les prompts</a>
  </div>
</body>
</html>
