<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
  <h1>Bienvenue sur la page d'accueil</h1>

  <div class="message-box">
    <a href="/bot">Accéder aux logs du bot Matrix</a>
  </div>

  <div class="message-box">
    <a href="/db">Accéder à la vue de la base de données</a>
  </div>

  <div class="message-box">
    <a href="/conversation_context">Accéder au contexte de conversation courant</a>
  </div>
</body>
</html>
